/* Copyright Ion Fusion contributors. All rights reserved. */
/* SPDX-License-Identifier: Apache-2.0 */

.indexlink {
  float: right;
}
td.bound {
  font-family: monospace;
}

td.prefix {
  font-family: monospace;
  text-align: right;
  padding-right: 0;
}
td.tail {
  font-family: monospace;
  padding-left: 0;
}
td .keyword {
  font-weight: bold;
}
